<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <script src="https://kit.fontawesome.com/59d3bf4800.js" crossorigin="anonymous"></script>
    <title>Rewind: A place where plastics get a new life</title>
    
</head>
<body>
    <header>
        <div id="logo">
            <img src="/images/3r.jpg">
        </div>
        <div id="heading">
            <h1>REWIND</h1>
        </div>  
    </header>

    <main id="h-main">
        <a href="/form"><button type="button" class='main-button'><i class="fas fa-recycle"></i>Mine is full</button></a>
        <a href="https://discord.gg/42tJMXqn"><button type = "button" class='main-button'><i class="far fa-comment"></i>Go to community</button></a>
    </main>

    <footer>
        <p>This is footer</p>
    </footer>
    <script type="text/javascript" src="./js/home.js"></script>
</body>
</html>